{% extends '__base__.html' %}

{% block title %}日志{% endblock %}

{% block beforehead %}

    <script>
$(function() {
    var vmAuth = new Vue({
        el: '#vm2',
        data: {
            site:''
        },
        methods: {
            submit: function(event) {
                event.preventDefault();
                
                    $form = $('#vm2'),

                    // email = this.email.trim().toLowerCase(),
                    // dict=this.dict

                    site=this.site,
                    data = {
                        site: site
                    };
                $form.postJSON('/scan', data, function(err, result) {                    
                    if (! err) {
                        // location.assign('/scan?site='+site);
                        loadXMLDoc();
                    }
                    
                });
            }
        }
    });
});
function loadXMLDoc(){
    document.getElementById("begin").innerHTML="扫描中";
    // var xmlhttp;
    // if (window.XMLHttpRequest)
    // {// code for IE7+, Firefox, Chrome, Opera, Safari
    //     xmlhttp=new XMLHttpRequest();
    // }
    // else{// code for IE6, IE5
    //     xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    // }
    // xmlhttp.onreadystatechange=function(){
    //     if (xmlhttp.readyState==4 && xmlhttp.status==200){
    //     document.getElementById("begin").innerHTML="扫描中";
    //     }
    // }

    // xmlhttp.open("get","/scan?site="+site,true);
    // // xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
    // xmlhttp.send();

}
    </script>

{% endblock %}

{% block content %}

<!--     <div id="vm2" class="uk-container-center uk-width-2-3">
        <form v-on="submit: submit" class="uk-form uk-form-stacked">
            <div class="uk-alert uk-alert-danger uk-hidden"></div>
            <div class="uk-form-row">
                <label class="uk-form-label"><h3>请输入网址:</h3></label>
                <div class="uk-form-controls">
                    <input v-model="site" name="site" type="text" placeholder="请输入网址" class=" uk-width-1-1">                  
                </div>
            </div>
            <div class="uk-form-row">
                <button type="submit" class="uk-button uk-button-primary" ><i class="uk-icon-save"></i> 开始扫描</button>
            </div>    
        </form>
    </div> -->
    
    <div class="uk-container-center uk-width-2-3">
        <form action="/scan" method="POST" class="uk-form uk-form-stacked">
            <div class="uk-alert uk-alert-danger uk-hidden"></div>
            <div class="uk-form-row">
                <div class="uk-alert uk-alert-danger ">{{error}}</div>
                                
                <div class="uk-form-controls">
                    <h3>请输入网址:</h3>
                    <input name="site" type="text" placeholder="请输入网址" class="uk-width-1-2">
                </div>
                <br>
                
                <div class="uk-form-controls">
                <h3>请输入线程:</h3>
                <input name="threadNum" type="number" placeholder="请输入线程1-100，不输默认20" min="1" max="100" class="uk-width-1-2"/> 
                </div>
            </div>
            <div class="uk-form-row">
                <button id="begin" type="submit" class="uk-button uk-button-primary" onclick="loadXMLDoc()"><i class="uk-icon-save"></i> 开始扫描</button>
            </div>    
        </form>
        <div id="myDiv" class="uk-panel uk-panel-box uk-panel-box-primary"><h1>这里显示扫描结果</h1>
            <div class="uk-panel uk-panel-box uk-panel-box-primary">
    <p>敏感信息</p>
{% for r in re %}


    <ul class="uk-pagination uk-pagination-left">

    
    <li><h5><a href="{{ r }}">【200】: {{r}}</a></h5></li>

</ul>  
    
    
    
{% endfor %}
</div>


        </div>
    </div>
    <div class="uk-width-medium-1-4">
        <div class="uk-panel uk-panel-header">
            <h3 class="uk-panel-title">友情链接</h3>
            <ul class="uk-list uk-list-line">
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="http://www.liaoxuefeng.com/category/0013738748415562fee26e070fa4664ad926c8e30146c67000">编程</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="http://www.liaoxuefeng.com/category/0013738748248885ddf38d8cd1b4803aa74bcda32f853fd000">读书</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="http://www.liaoxuefeng.com/wiki/001374738125095c955c1e6d8bb493182103fac9270762a000">Python教程</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="http://www.liaoxuefeng.com/wiki/0013739516305929606dd18361248578c67b8067c8c017b000">Git教程</a></li>
            </ul>
        </div>
    </div>





{% endblock %}