{% extends '__base__.html' %}

{% block title %}日志{% endblock %}

{% block beforehead %}

    <script>
$(function() {
    var vmAuth = new Vue({
        el: '#vm2',
        data: {
            site2:''
        },
        methods: {
            submit: function(event) {
                event.preventDefault();
                
                    $form = $('#vm2'),

                    // email = this.email.trim().toLowerCase(),
                    // dict=this.dict

                    site2=this.site2,
                    data = {
                        site2: site2
                    };
                $form.postJSON('/send', data, function(err, result) {                    
                    if (! err) {
                        document.getElementById("send").innerHTML="已发送";
                    }
                    
                });
            }
        }
    });
});
function loadXMLDoc(){
    document.getElementById("begin").innerHTML="扫描中";


}

    </script>

{% endblock %}

{% block content %}


    
    <div class="uk-container-center uk-width-2-3">
        <form action="/scan" method="POST" class="uk-form uk-form-stacked">
            <div class="uk-alert uk-alert-danger uk-hidden"></div>
            <div class="uk-form-row">
                
            {%if error %}
            <div class="uk-alert uk-alert-danger ">{{error}}</div>
            {%endif%}                
                <div class="uk-form-controls">
                    请输入网址:<input name="site" type="text" placeholder="请输入网址" class="uk-width-1-3">
                请输入线程:<input name="threadNum" type="number" placeholder="请输入线程1-100，不输默认20" min="1" max="100" class="uk-width-1-3"/>
                <br>
            </div>
                
            </div>
            <div class="uk-form-row">
                <button id="begin" type="submit" class="uk-button uk-button-primary" onclick="loadXMLDoc()"><i class="uk-icon-save"></i> 开始扫描</button>
                
            </div>    
        </form>
        
        <div id="myDiv" class="uk-panel uk-panel-box uk-panel-box-primary"><h1>这里显示扫描结果</h1>
            <div class="uk-panel uk-panel-box uk-panel-box-primary">
    <p>网站{{site}}敏感信息</p>
    {%if re %}
       <div id="vm2" class="uk-container-left uk-width-1-4">
        <form v-on="submit: submit" class="uk-form uk-form-stacked">
                    <input v-model="site2" name="site2" type="text" value={{site}}  class=" uk-hidden">                  
                <button id="send" type="submit" class="uk-button uk-button-primary" > 将扫描结果发送至邮箱</button>
              
        </form>
    </div>

    {%endif%}

{% for r in re %}


    <ul class="uk-pagination uk-pagination-left">

    
    <li><h5><a href="{{ r }}">【200】: {{r}}</a></h5></li>

</ul>  
    
    
    
{% endfor %}
</div>
        </div>
    </div>


    <div class="uk-width-medium-1-4">
        <div class="uk-panel uk-panel-header">
            <h3 class="uk-panel-title">知识链接</h3>
            <ul class="uk-list uk-list-line">
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="https://www.jianshu.com/p/436917dfa8df">SQL注入攻击技巧与防范</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="https://www.jianshu.com/p/790fb57f3acb">xss漏洞攻击与防御</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="https://www.jianshu.com/p/0cc01ee0d247">文件包含漏洞</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="https://www.jianshu.com/p/be2cac664eb5">敏感信息泄露</a></li>
            </ul>
        </div>
    </div>





{% endblock %}